/*
Top Banner Part
 */

.allBgColor{
    background-color: #e9e7e7;
}

.topFixedBanner{
    background-image: url("../images/topBgImage.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.topBannerOverlay{
    position: absolute;
    min-height: 500px;
    width: 100%;
    background: rgba(58, 73, 86, 0.5);
}
.topContent{
    margin-top: 10rem;
}
.topTittle{
    font-family: 'montserreat',sans-serif;
    font-weight: 700;
    color: #ffffff;
    font-size: 48px;
}
.topSubTittle{
    font-family: 'raleway',sans-serif;
    font-weight: 600;
    color: #ffffff;
    font-size: 25px;
}
/*
Services Part
 */
.serviceMainTitle{
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'montserreat',sans-serif;
    font-size: 28px;
    font-weight: 600;
}

.serviceCard{
    margin: 5px 5px 5px 5px;
    padding: 60px 30px 60px 30px;
    height: 25rem;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.serviceCard:hover{
    box-shadow: 0 0 10px 0 rgba(0, 115, 230, 0.2);
}
.serviceName{
    margin-top: 1rem;
    font-family: 'raleway',sans-serif;
    font-size: 22px;
    font-weight: 600;
}
.serviceDescription{
    color: #7F7E7E;
    margin-top: 1rem;
    font-family: 'raleway',sans-serif;
    font-size: 16px;
    font-weight: 400;
}

/*
Navigation or Menu Part
 */

.navTitle{
    font-family: 'montserreat',sans-serif;
    color: #ffffff !important;
    font-weight: 700;
    font-size: 40px;
}
.navBarBagraound{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: rgba(00, 00, 00, 0.1) !important;
}
.navBarBgScroll{
    -webkit-transition: background-color 400ms linear;
    -moz-transition: background-color 400ms linear;
    -o-transition: background-color 400ms linear;
    transition: background-color 400ms linear;
    background-color: #ffffff !important;
}

.navTitleScroll{
    font-family: 'montserreat',sans-serif;
    color: #0073E6 !important;
    font-weight: 700;
    font-size: 40px;
}

.navItem{
    text-decoration: none !important;
    font-family: 'montserreat',sans-serif;
    font-weight: 400;
    color: #ffffff !important;
    font-size: 20px;
}

.navItemScroll{
    text-decoration: none !important;
    font-family: 'montserreat',sans-serif;
    font-weight: 400;
    color: #000000 !important;
    font-size: 20px;
}

/*
Technology Used Part
 */
.analysisMainTitle{
    color: #0073E6;
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-family: 'montserreat',sans-serif;
    font-size: 28px;
    font-weight: 600;
}
.analysisDescription{
    font-family: "raleway",sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
}

/*
Summery Part
 */
.summarySection{
    margin-top: 5rem;
}
.summeryFixedBanner{
    background-image: url("../images/summaryBanner.jpg");
    min-height: 350px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.summeryBannerOverlay{
    position: absolute;
    min-height: 350px;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
}
.countSection{
    margin-top: 15%;
}
.countNumber{
    font-family: 'montserreat',sans-serif;
    font-size: 48px;
    font-weight: 700;
    color: #ffffff;
}
.countTitle{
    font-family: 'montserreat',sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #ffffff;
}
.workingCardSection{
    margin-top: 15%;
    padding: 10px 10px;
}
.cardTitle{
    font-family: 'montserreat',sans-serif;
    font-size: 25px;
    font-weight: 700 !important;
    color: #000000;
    text-align: left;
}

.cardSubTitle{
    font-family: 'raleway',sans-serif;
    font-size: 14px;
    font-weight: 400 !important;
    color: #000000;

}
.cardIconColor{
    color: #0073E6;
    font-size: 16px;
    margin-right: 5px;
}

/*
Recent Project Part
 */
.projectCard{
    border-radius: 2px;
    border: none !important;
    margin: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 115, 230, 0.2);
}
.projectCard:hover{
    box-shadow: 0 0 10px 0 rgba(0, 115, 230, 0.2);
}

.projectCardTitle{
    font-family: 'montserreat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.projectCardDecs{
    font-family: 'raleway',sans-serif;
    font-size: 14px;
    font-weight: 400 !important;
    color: #7F7E7E;
}

/*
Courses Part
 */
.coursesSection{

}
.coursesSectionImg {
    width: 100%;
    border-radius: 5px;
    border: none;
}
.coursesSectionTitle{
    font-family: 'montserreat',sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.coursesSectionDesc{
    font-family: 'raleway',sans-serif;
    font-size: 16px;
    font-weight: 400 !important;
    color: #7F7E7E;
}